.footer {
  background-color: var(--secondary-bcg-color);
  color: var(--white-color);
  padding: 60px 0px;


.bottom {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 60px;
 

  &__logo-adress{
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    text-align: center;
}


&__logo {
  font-family: Raleway, sans-serif;
  color: var(--brand-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

&__logo-word {
  color: var(--white-color);
}
&-adress{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:8px;
  margin-bottom: 60px;
}  


&-adress__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--white-color);
  opacity: 60%;
}

&-adress__link--white {
  opacity: 100%;
}

&__title {


  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  
}
&__social-media{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
  
}
}


@media screen and (min-width: 768px) and (max-width: 1599px)  {
  .bottom__logo-adress-media{
   justify-content: center;
    display: flex;
    
    gap:165px;
  }
}

@media screen and (min-width: 1600px)  {
  .bottom__logo-adress-media{
  display: flex;
  flex-direction: row;
   gap: 70px;
   align-items: baseline;
  }
}
@media screen and (min-width: 1600px)  {
  .bottom__logo-adress{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
  }
}
@media screen and (min-width: 1600px)  {
  .bottom__social-media{
   
   align-items: flex-start;
  }
}
@media screen and (min-width: 1600px)  {
  .bottom-adress{
   align-items: flex-start;
  }
}
@media screen and (min-width: 1600px)  {
  .bottom{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
  }
}

}