.footer {
    background-color: var(--secondary-bcg-color);
    color: var(--white-color);
    padding: 60px 0px;
  
  
  .bottom {
    // display: flex;
    // flex-direction: column;
    // gap: 60px;
    // margin-bottom: 60px;
    align-items: center;

    &__logo-adress{
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      text-align: center;
  }
  
  
  &__logo {
    font-family: Raleway, sans-serif;
    color: var(--brand-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
  }
  
  &__logo-word {
    color: var(--white-color);
  }
  &-adress{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:8px;
    margin-bottom: 60px;
  }  
 
  
  &-adress__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--white-color);
    opacity: 60%;
  }
  
  &-adress__link--white {
    opacity: 100%;
  }
  
  &__title {
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-color);
  }
  &__social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 60px; 
    
  }
  }
}