.hero {
  padding: 118px 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary-bcg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-photo.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white-color);
  
  
  &__container {
    text-align: center;

  }
  
  &__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
  }
  
  &__button {
    align-items: center;
    text-align: center;
    background-color: var(--brand-color);
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
  }
}