.info__list {
  

  align-items: center;
  padding: 0px;
  margin: 0px;
  

}


.info__item {



  &::before {
    content: '';
    display: block;
    height: 120px;
    background-repeat: no-repeat;
    background-color: var(--team-bcg-color);
    margin-bottom: 30px;
    background-position: center;
    border-radius: 4px;
  }

  &:nth-child(1)::before {
    background-image: url("../images/antenna.svg");
  }

  &:nth-child(2)::before {
    background-image: url("../images/clock.svg");
  }

  &:nth-child(3)::before {
    background-image: url("../images/diagram.svg");
  }

  &:nth-child(4)::before {
    background-image: url("../images/astronaut.svg");
  }
}

.info__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.info__discription {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

@media screen and (max-width:479px) {
  .info__item:not(:last-child){
      margin-bottom: 30px;
    }
    .info__title{
      text-align: center;
     }
}

@media screen and (min-width:480px) {
  .info__list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: stretch;
   
  }
}
@media screen and (min-width:768px) and (max-width:1199px){
  .info__item{
    flex-basis: calc((100% - 30px)/2);
   
  }
}
@media screen and (min-width:1200px) {
  .info__list{
    
    flex-wrap: nowrap;
  }
}
