.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;

  &__close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--white-color);
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__title {
    margin-bottom: 12px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
  &__close-button {
    &:hover, &:active, &:focus {
      outline-color: var(--brand-color);
      fill: var(--brand-color);
      cursor: pointer;
    }
  }
  
}
.registration {
  color: var(--secondary-color);
  gap: 20px;
  display: flex;
  flex-direction: column;
  
  &__input-form, &__user-data, &__user-info {
    display: flex;
    flex-direction: column;
  }
  &__user-data {
    gap: 10px;
  }
  
  &__input-form {
    position: relative;
  }
  &__comment-area {
    padding: 12px 16px;
    border: var(--input-border);
    border-radius: 4px;
    resize: none;
    height: 120px;
        
        &:focus, &:active {
          outline-color: var(--brand-color);
          fill: var(--brand-color);
          cursor: pointer;
        }
      }
      &__button {
        padding-left: 52px;
        padding-right: 52px;
        color: var(--white-color);
        background-color: var(--brand-color);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        text-align: center;
        letter-spacing: 0.06em;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        max-width: 200px;
      
        &:active, &:hover, &:focus {
          box-shadow: var(--button-shadow);
        }
      }
}


.input-icon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.input {
  width: 100%;
  padding: 11px 42px;
  border: var(--input-border);
  border-radius: 4px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:active, &:focus {
      outline-color: var(--brand-color);
      fill: var(--brand-color);
      cursor: pointer;
    }
    
    &:focus + &-icon {
        fill: var(--brand-color);
      }
}






.policy {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 30px;

    &__checkbox { 
      appearance: none;
      position: absolute;
      
    }
    
    &__label {
      display: flex;
      align-items: flex-start;
      gap: 7px;
      width: 100%;
      font-weight: 400px;
      line-height: 1.16;
      font-size: 12px;
      letter-spacing: 0.03em;

    }
   
    &__icon {
      display: inline-block;
      width: 16px;
      height: 15px;
      border: 2px solid var(--main-color);
      border-radius: 2px;
    }
    
    &__checkbox:checked + &__icon {
      background-image: url(../images/tick.svg);
      border: 2px solid var(--brand-color);
      background-origin: padding-box;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-position: center;
      background-color: var(--brand-color);
    }
  
  
  
  
  &__contract {

    color: var(--brand-color);
 
  }
}
@media screen and (max-width:479px) {
  .policy__rules{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width:1199px) {
  .modal{
    width: calc(100% - 30px);
    max-width: 450px;
  }
  .registration__comment-area::placeholder{
    line-height: 1.14;
  }

}
@media screen and (min-width:1200px) {
  .modal{
    width: 528px;
  }
  .modal__title{
    line-height: 1.15;
  }
  .registration__comment-area{
    line-height: 1.17;
  }
  .policy__label{
    font-size: 14px;
    line-height: 1.71;
    justify-content: center;
  }

}

  